.lightbox{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    align-items: center;
    flex-direction: row;
}
.img_container{
    height: 100%;
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lightbox img{
    width:100%;
    max-width: 400px;
}
.img_container video{
    max-width: 100%;
}