#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
}
.photograph-header article img {
    height: 200px;
    width: 200px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photograph-work{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.photograph-work article{
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.photograph-work article div{
    width: 350px;
    display: flex;
    justify-content: space-around;
}

.img-container{
    width: 350px!important;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}
.img-container img, .img-container video{
    scale: 1.8;
    position: relative;
    top: 35px;
}
.text-container{
    justify-content: space-between!important;
}
.text-container p {
    margin:5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    
}
.photo_title {
    color: #901c1c;
    font-size: 20px!important;
}
@media(max-device-width:1024px){
    .photograph-work{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-device-width:768px){
    .photograph-work{
        grid-template-columns: repeat(1,1fr);
    }
}